@charset "utf-8";
/* CSS Document */

<!-- 
body  {
	font: 100% Calibri, Verdana, Arial, Helvetica, sans-serif;
	background: #000070 url(img/background.png) repeat-x top left;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}

.thrColElsHdr #container { 
	width: 61em;
	/*background-color: #F8F5F1;*/
	background: url(img/paperBackground.png) repeat-y scroll;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
} 
.thrColElsHdr #header { 
	text-align: left;
	background: url(img/background.png) repeat-x top left;
	border-bottom: thin solid black;
	color: #000;
	/*padding: 2px 10px 0px 10px;   this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	margin: 0 0 2em 0;
} 
.thrColElsHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 0 0 0.5em 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
	font-family: Georgia, "Times New Roman", Times, serif;
	/*text-shadow: #999 5px 5px 5px;*/
	font-weight: normal;
	font-size: 3em;
	text-align: left;
	padding: 1em 0 1em 5em;
}

.thrColElsHdr #sidebar1 {
	float: left; 
	width: 11em; /* since this element is floated, a width must be given */
	padding: 30px 0 0 10px; /* top and bottom padding create visual space within this div */
}
.thrColElsHdr #sidebar2 {
	float: right; 
	width: 11em; /* since this element is floated, a width must be given */
	padding: 30px 10px 0 0; /* top and bottom padding create visual space within this div */
	z-index: 10;
}
.thrColElsHdr #sidebar1 h3, .thrColElsHdr #sidebar1 p, .thrColElsHdr #sidebar2 p, .thrColElsHdr #sidebar2 h3 {
	margin-left: 10px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 10px;
}

.thrColElsHdr #mainContent {
 	margin: 2.5em 12em 0 12em; /* the right margin can be given in ems or pixels. It creates the space down the right side of the page. */
	padding: 0 2em 0 2em;
	border-right: dotted thin black;
	border-left: dotted thin black;
} 
.thrColElsHdr #footer { 
	padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	text-align: center;
	border-top: thin dotted black;
} 
.thrColElsHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	font-size: 75%;
}

/* Miscellaneous classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/*********** My styles *****************/

/* Header styles */
.thrColElsHdr #mainContent h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-shadow: #AAA 2px 2px 2px;
}
.thrColElsHdr #mainContent h2 {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}
.thrColElsHdr #sidebar1 h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-shadow: #AAA 2px 2px 2px;
	padding-left: 0.5em;
}
.thrColElsHdr #sidebar2 h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-shadow: #AAA 2px 2px 2px;
	padding-left: 0.5em;
}

/* Menu styles */
.thrColElsHdr #container #mainNav {
	background-color: #000; /*6E2420*/
	float: right;
	margin: -3em 0 -1em 0;
	padding: 0.2em 0;
	border-bottom: thin groove #F9F6F1;
	border-top: thin double #D2B48C;
	border-left: thin inset #F9F6F1;
}
.thrColElsHdr #container #mainNav #mainNavLink {
	list-style: none;
	display: inline;
	padding: 0 2em;
	font-size: 120%;
	color: #F8F5F1;
	border-right: thin solid #F9F6F1;
	text-shadow: #000 2px 2px 2px;
}
.thrColElsHdr #container #mainNav #rightNavLink {
	list-style: none;
	display: inline;
	padding: 0 2em;
	font-size: 120%;
	color: #F8F5F1;
	text-shadow: #000 2px 2px 2px;
}
.thrColElsHdr #container #mainNav #mainNavLink a, .thrColElsHdr #container #mainNav #rightNavLink a {
	color: #F8F5F1;
	text-decoration: none;
	font-weight: normal;
}
.thrColElsHdr #container #mainNav #mainNavLink a:hover, .thrColElsHdr #container #mainNav #rightNavLink a:hover {
	text-decoration: none;
	color: #FFC600;	
}
#currentPage {
	font-weight: bolder;
}
/* Classes */
.styledListItems {
	padding-bottom: 1em;
	padding-top: -1em;
}
#inPageLink {
	color: #000;
	text-decoration: underline;
}
#inPageLink:hover {
	color: #000;
	font-weight: bolder;
}
#inPageLink:visited {
	color: #000;
}
#headerGraphic {
	width: auto;
	float: left;
	padding: 0 0 1.5em 0;
	border: none;
}
#headerGraphic:visited {
	border: none;
}
#boldElement {
	font-weight: bold;
	font-size: 120%;
}
#emphasizedElement {
	font-weight: bold;
}
--> 
</style><!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
.thrColElsHdr #sidebar1, .thrColElsHdr #sidebar2 { padding-top: 30px; }
.thrColElsHdr #mainContent { zoom: 1; padding-top: 1px; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
<![endif]-->
